@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model BerlioWeb.Models.CategoryModel

<div class="w-100 image-container">
    <img style="width:100%;    height: 34vw;" src="@Model.pahtMainPage">
    <h2 class="overlay-h">@Model.titlePage</h2>
    <p class="overlay-text">
        @Html.Raw(Model.descriptionPage)
        @* @Model.descriptionPage *@
    </p>
</div>
<div class="productsdiv">
    <div class="item-product" style="background-image: url('../images/oborudovaniemainpage.png');">
        <div class="product-content">
            <h3 class="product-title">Оборудование</h3>
        </div>
        <a class="a-product" asp-area="" asp-controller="Contacts" asp-action="Index"><button class="product-button" type="button">Подробнее</button></a>
    </div>
    <div class="item-product" style="background-image: url('../images/oborudovaniemainpage.png');">
        <div class="product-content">
            <h3 class="product-title">Оборудование</h3>
            
        </div>
    </div>
    <div class="item-product" style="background-image: url('../images/forclienti.png');">
        <div class="product-content">
            <h3 class="product-title">Для клиентов</h3>
            
        </div>
    </div>
    <div class="item-product" style="background-image: url('../images/servicesmainpage.png');">
        <div class="product-content">
            <h3 class="product-title">Сервисы</h3>
            
        </div>
    </div>
    <div class="item-product" style="background-image: url('../images/oborudovaniemainpage.png');">
        <div class="product-content">
            <h3 class="product-title">Оборудование</h3>
            
        </div>
    </div>
    <div class="item-product" style="background-image: url('../images/oborudovaniemainpage.png');">
        <div class="product-content">
            <h3 class="product-title">Оборудование</h3>
            
        </div>
    </div>
    <div class="item-product" style="background-image: url('../images/forclienti.png');">
        <div class="product-content">
            <h3 class="product-title">Для клиентов</h3>
            
        </div>
    </div>
    <div class="item-product" style="background-image: url('../images/servicesmainpage.png');">
        <div class="product-content">
            <h3 class="product-title">Сервисы</h3>
            
        </div>
    </div>
</div>
@* <div style="margin:11vw 18vw"> *@
@*     <img style="width:100%; height:32.81vw" src="@Model.pahtMainPage"> *@
@*     <div style="display: flex; justify-content: space-between; width: 100%; margin-top: 20px;"> *@
@*         <div style="color:white; width: 49%;"> *@
@*             <h5 style="font-size: 1.65vw;">@Model.titlePage</h5> *@
@*             @Html.Raw(Model.descriptionPage) *@
@*         </div> *@
@*         <div style="color:white; width: 49%;"> *@
@*             <h5 style="font-size: 1.65vw;">Другие офисы:</h5> *@
@*             <p style="font-size: 1vw;"> *@
@*                 <i><b>Минская область:</b><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;г. Минск, ул. Независимости, 105 В</i><br> *@
@*                 <i><b>Могилевская область:</b><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;г. Могилев, ул. Челюскинцев, 105 В</i> *@
@*             </p> *@
@*         </div> *@
@*     </div> *@
@* </div> *@