@model BerlioWeb.Models.CategoryModel

<div class="w-100 image-container">
    <img style="width:100%;    height: 34vw;" src="@Model.pahtMainPage">
    <h2 class="overlay-h">@Model.titlePage</h2>
    <p class="overlay-text">
        @Html.Raw(Model.descriptionPage)
    </p>
</div>
<div class="productsdiv">
    @foreach (var item in ViewBag.Items)
    {
        <div class="item-product" style="background-image: url('@(item.Image == null ? "../images/programs.png":$"../images/{item.Image}")');">
            <div class="product-content">
                <h3 class="product-title">@item.Name</h3>
            </div>
            <form class="a-product" asp-controller="Product" asp-action="Index" asp-route-linkShortCut="electronic-cards" method="post">
                <!-- Используем Newtonsoft.Json для сериализации -->
                <input type="hidden" name="itemJson" value="@Newtonsoft.Json.JsonConvert.SerializeObject(
           item,
           new Newtonsoft.Json.JsonSerializerSettings
           {
               TypeNameHandling = Newtonsoft.Json.TypeNameHandling.All
           })" />
                <button type="submit" class="product-button">Подробнее</button>
            </form>
        </div>
    }
</div>